.common-table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
  }
  
  .common-table-header-column {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    font-size: 1.5rem;
    padding: 5px 5px;
    color: #eceaea;
  }
  
  .common-table-row:hover {
    background-color: #eceaea;
    cursor: pointer;
  }
  
  .common-table-column {
    padding: 10px 5px;
    color: #eceaea;
  }